{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="columns is-mobile has-text-centered">
  <div class="column is-half is-offset-one-quarter">

    <div class="card">
    <div class="card-content">

    <form method="post" action="" enctype="multipart/form-data" role="form">
    {% csrf_token %}
    <h3 class="title is-1">New Story</h3>

            <div class="field">
              <p class="control has-icons-left">
              <label class="label is-medium">Choose your media</label>
                {{ form.content }}
                <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
          </div>

            <div class="field">
              <p class="control has-icons-left">
              <label class="label is-medium">Caption</label>
                {{ form.caption }}
                <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
          </div>


      <div class="field">
      <p class="control">
        <button type="submit" name="action" class="button is-success">
          Create
        </button>
      </p>
    </div>


      </div>
</div>







{% endblock %}