{% extends 'base.html' %}

{% load static %}


{% block banner %}
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 style="font-size: 90px" class="title">
        #{{ tag.title }}
      </h1>
    </div>
  </div>
</section>
{% endblock %}



{% block content %}

      <div class="columns is-mobile is-multiline is-centered">
      

{% for post in posts %}
      <div class="column is-one-quarter">
        <div class="box">
      <figure class="image is-256x256">
        <a href="{{ post.get_absolute_url }}"><img src="{{ post.picture.url }}" alt="Image"></a>
      </figure>
    </div>
      </div>
{% endfor %}

      </div>

{% endblock %}