{% extends 'base.html' %}

{% block content %}

<div class="row">
	<br>
	<br>
	<br>
	<br>
	<div class="col s12 center-align">
		<i class="large material-icons green-text">check_circle</i>
	</div>
	<div class="col s12 center-align">
		<h4>We have emailed you instructions to reset your password</h4>
		<p>If an account exists with the email you entered. You will receive the token.</p>
		<p>If you don't receive an email. Check your spam folder or make sure you entered the correct email.</p>
	</div>


</div>

<br>
<br>
{% endblock %}