{% extends 'base.html' %}
{% load static %}

        
{% block content %}

<div class="row center-align">
    <form method="post" action="" role="form" class="col s12">
    {% csrf_token %}
    {{ form.id }}
    <h3>Forgot password</h3>
      <div class="row">
        <div class="input-field col s12">
          {{ form.email }}
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <span style="color: red; font-weight: bold;">{{ form.errors }}</span>
        </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action"><i class="material-icons left">send</i>Request Code</button>
    </form>
  </div>

{% endblock %}